In [2]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font sixe="5" color="red">ch02 자료형과 연산자</font>

# 5절 연산자

## 5.1 산술연산자: +-*/ //(몫)%(나머지)**(제곱)

In [3]:
print('10의5승:',10**5)
print('4/2(실수):',4/2)
print('4//2(몫):',4//2)
print('4%2(나머지):',4%2)

10의5승: 100000
4/2(실수): 2.0
4//2(몫): 2
4%2(나머지): 0

In [5]:
# quiz 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력 
num= int(input('정수를 입력하시오:'))
result= num%2
if result:
    temp="홀수"
else:
    temp="짝수"
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}, 그래서 {temp}를 입력하셨군요.")

정수를 입력하시오:9
입력하신 수는 9, 2로 나눈 나머지는 1, 그래서 홀수를 입력하셨군요.

In [12]:
# 2. 정수를 입력받아 5의 배수인지 여부를 출력
num=int(input('정수를 입력하시오'))
result= num%5
if result:
    temp="5의 배수 아님"
else:
    temp="5의배수"
print(f"입력하신수는{num},5로 나눈 나머지는 {result}, 그래서 {temp} 을/를 입력하셨군요.")

정수를 입력하시오26
입력하신수는26,5로 나눈 나머지는 1, 그래서 5의 배수 아님 을/를 입력하셨군요.

In [13]:
kor = int(input("국어?"))
eng = int(input("영어?"))
mat = int(input("수학?"))
sum = kor + eng + mat
avg = sum/3

국어?100
영어?85
수학?70

In [14]:
print("국어:{:3d}\t영어:{:3d}\t수학:{:3d}".format(kor, eng, mat))
print("총점:{:3d}\t평균:{:5.1f}".format(sum, avg))

국어:100	영어: 85	수학: 70
총점:255	평균: 85.0

## 5.2 할당연산자 : =, +=, -=, /=, *=

In [29]:
a = 10
a += 5 # a = a+5
print('5더하기 :', a)

5더하기 : 15

In [30]:
a -= 5 # a = a-5
print('5빼기 :', a)
a *= 5 # a = a*5
print('5배 :', a)

5빼기 : 10
5배 : 50

## 5.3 논리연산자: &, and, I(오아), or, not

In [15]:
# & 논리연산
print((10>3)&(10>5))

True

In [17]:
#and: false로 판별되는 첫번째 항의 결과 반환 
#     모든 항이 참이면 마지막 항을 반환 
print(True and 1 and 3)
print(0 and true)
print(True and 0 and True and False)

3
0
0

In [18]:
# | : 논리연산, 비트연산
result = False | True
print('논리연산(연산자 앞뒤에 논리형일 때) :', result)
result = False | 3 # 0000 0000 (False)
                   # 0000 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때) :', result)

논리연산(연산자 앞뒤에 논리형일 때) : True
비트연산(연산자 앞이나 뒤에 숫자일 때) : 3

In [21]:
# or : 논리연산, 참으로 판별되는 첫번째 항을 반환
#      모든 항이 거짓이면, 마지막항을 반환
print(False or False or None)
print('Hong' or ' ' or False)

None
Hong

In [22]:
print(not True)

False

## 5.4 비교연산자: >>=<<= ==(같다) !=(다르다)

In [23]:
#비교연산자(<)의 우선순위가 논리연산의 (&)의 우선순위보다 낮다 
print((10>5)&(10>7))
print(10>7 & 10>7) #0101(5)
print(10>0>7)       
print(10>5 and 10>7)

True
False
False
True

In [25]:
address="서울"
age= 29 
#print( address =="서울" & age>=30)
print((address =="서울") & (age>=3))
print( address =="서울" and age>=30)

True
False

In [26]:
#문자비교 : ASCII 코드 순으로 비교가능: 특수문자< 숫자 <대문자 < 소문자

## 5.5 비트연산자 : &, | , ^(XOR), ~

In [27]:
# X Y  x&Y  x^Y (두개가 같으면 0 다르면 1)
# 0 0   0    0
# 0 1   0    1
# 1 0   0    1
# 1 1   1    0

연산자 
- 산술연산
- 할당연산
- 논리연산
-비교연산
-비트연산
- &와 |은 비교연산자보다 우선순위가 높다.

In [28]:
a = 15 # 1111
b = 2  # 0010
print(" a  = {0:2} : {0:04b}".format(a))
print(" b  = {0:2} : {0:04b}".format(b))
print("a^b = {0:2} : {0:04b}".format(a^b))

 a  = 15 : 1111
 b  =  2 : 0010
a^b = 13 : 1101

# 6절. 문자열 다루기
- 문자열 스라이싱 변수[from:stop:step]
- len(문자열변수): 문자갯수
- upper(): 대문자로
- lower(): 소문자로
- title(): 각 어절의 첫글자만 대문자로
- capitalize(): 첫문자만 대문자로 
- count(찾을문자열'): '찾을 문자열'이 몇개 들어있는지 갯수 반환 
- find('찾을문자열'): 찾을문자열이 왼쪽부터 시작하여 몇번째에 있는지 인덱스를 반환 
- rfind('찾을문자열'): 찾을문자열이 오른쪽부터 시작하여 몇번째에 있는지 인덱스를 반환 
**찾을 문자열이 없으면 -1을 반환**
cf) index('찾을문자열'): 찾을문자열의 인덱스를 반환, 찬을문자열이 없으면 오류
- startswith('특정문장열'): 특정문자열로 시작하는지 여부
- endswith('특정문장열'): 특정문자열로 끝나는지 여부
- strip(): 좌우 공백 제거
- rstrip(): 오른쪽 공백 제거
- lstrip(): 왼쪽 공백 제거
- isdigit(): 문자열이 숫자문자열인지 여부
- islower(): 소문자문자열인지 여부
- replace(oldStr, newStr) : oldStr을 newStr로 변경

In [31]:
temp = "daon is cool"
temp, len(temp)

('daon is cool', 12)

In [32]:
temp.upper()

'DAON IS COOL'

In [1]:
temp = "python is easy. pYThon is smart. python"
#       012345678901234567890123456789012345678
print('1. 글자수', len(temp))
print('2. 대문자로 :', temp.upper())
print('3. 소문자로 :', temp.lower())
print('4. title :',   temp.title())
print('5. capitalize() :', temp.capitalize())
print('6. python이 몇번 나오는지 :', temp.count('python'))
print('7. 대소문자구분없이 python이 몇번 나오는지 :', temp.lower().count('python'))
print('7. 대소문자구분없이 python이 몇번 나오는지 :', temp.upper().count('PYTHON'))
print('7. 대소문자구분없이 python이 몇번 나오는지 :', temp.title().count('Python'))
print('8. python이 나오는 첫 index 위치 :', temp.find('python'))
print('8. python이 나오는 마지막 index 위치 :', temp.rfind('python'))
print('8. java이 나오는 마지막 index 위치 :', temp.rfind('java'))
print('8. python이 나오는 첫 index 위치 :', temp.index('python'))
# print('8. java이 나오는 마지막 index 위치 :', temp.index('java'))
print('9. python으로 시작하는지 여부 :', temp.startswith('python'))
print('10. python으로 끝나는지 여부 :', temp.endswith('PYTHON'))
print('10. 대소문자 구분없이 python으로 끝나는지 여부 :', temp.upper().endswith('PYTHON'))

1. 글자수 39
2. 대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
3. 소문자로 : python is easy. python is smart. python
4. title : Python Is Easy. Python Is Smart. Python
5. capitalize() : Python is easy. python is smart. python
6. python이 몇번 나오는지 : 2
7. 대소문자구분없이 python이 몇번 나오는지 : 3
7. 대소문자구분없이 python이 몇번 나오는지 : 3
7. 대소문자구분없이 python이 몇번 나오는지 : 3
8. python이 나오는 첫 index 위치 : 0
8. python이 나오는 마지막 index 위치 : 33
8. java이 나오는 마지막 index 위치 : -1
8. python이 나오는 첫 index 위치 : 0
9. python으로 시작하는지 여부 : True
10. python으로 끝나는지 여부 : False
10. 대소문자 구분없이 python으로 끝나는지 여부 : True

In [6]:
temp = '    Python is easy.     '
notdisit = '1,000,000'
num_str = '1000'
print('11. 좌우공백제거 : [{}]'.format(temp.strip()))
print('11. 좌측공백제거 : [{}]'.format(temp.lstrip()))
print('11. 우측공백제거 : [{}]'.format(temp.rstrip()))
print('12. 숫자문자열인지 :', notdisit.isdigit())
print('13. 소문자문자열인지 :', temp.islower())
print('13. 대문자문자열인지 :', temp.isupper())
print('14. ,제거 :', notdisit.replace(',', ''))
print('14. ,제거 :', num_str.replace(',', ''))

11. 좌우공백제거 : [Python is easy.]
11. 좌측공백제거 : [Python is easy.     ]
11. 우측공백제거 : [    Python is easy.]
12. 숫자문자열인지 : False
13. 소문자문자열인지 : False
13. 대문자문자열인지 : False
14. ,제거 : 1000000
14. ,제거 : 1000

In [3]:
temp= "홍길동       김길동  신길똥    유길동"
print('space eksdnlfh temp를 분리:', temp.split()) #기본이 space 단위로 분리

space eksdnlfh temp를 분리: ['홍길동', '김길동', '신길똥', '유길동']

In [5]:
data = "2025-04-10"
print(' - 단위로 data를 분리(결과 : list)')
data_list = data.split('-')
print(data_list)
print("년 :", data_list[0])
print("월 :", data_list[1])
print("일 :", data_list[2])

 - 단위로 data를 분리(결과 : list)
['2025', '04', '10']
년 : 2025
월 : 04
일 : 10

In [7]:
# ' - '을 '/'로 바꾸기
temp = "Python - HTML/CSS - JavaScript - DBMS"
# temp.replace(' - ', '/')
print('원 데이터 :', temp)
splited_temp = temp.split(' - ')
print('분리된 데이터 :', splited_temp)
joined_temp = '/'.join(splited_temp)
print('join된 데이터 :', joined_temp)

원 데이터 : Python - HTML/CSS - JavaScript - DBMS
분리된 데이터 : ['Python', 'HTML/CSS', 'JavaScript', 'DBMS']
join된 데이터 : Python/HTML/CSS/JavaScript/DBMS

In [8]:
str_ = 'ABC' 
# str_ = ['A','B','C']

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절: 시간, 날짜, 날짜시간다루기

In [5]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [13]:
#datetime 모듈(datetime.py)dksdml datetime, date time을 import
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [15]:
# 특정한 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 4, 7, 9, 30, 0)
thatday

datetime.datetime(2025, 4, 7, 9, 30)

In [16]:
print(thatday)
print(thatday.ctime()) # ctime() : 사람이 읽기 쉬운 형태로 반환
print("{:%Y년%m월%d일(%A) %p %I시%M분 %S초}".format(thatday))
print(thatday.strftime("%Y년%m월%d일(%A) %p %I시%M분 %S초"))

2025-04-07 09:30:00
Mon Apr  7 09:30:00 2025
2025년04월07일(월요일) 오전 09시30분 00초
2025년04월07일(월요일) 오전 09시30분 00초

In [17]:
import locale
locale.setlocale(locale.LC_TIME, 'ko_KR')

'ko_KR'

In [18]:
now = datetime.now()
print(now.strftime("%y-%m%d(%A) %H:%M:%S"))

25-0411(금요일) 10:54:59

In [19]:
now = datetime.now()
print(now.strftime("%y-%m%d(%A) %H:%M:%S"))

25-0411(금요일) 10:55:27

In [22]:
diff = now - thatday
diff

datetime.timedelta(days=4, seconds=5127, microseconds=329264)

In [23]:
diff.days

4

## 7.2 날짜

In [28]:
someday = date(2025,9,3)
someday

datetime.date(2025, 9, 3)

In [29]:
print(someday.strftime("%Y년%m월%d일"))

2025년09월03일

In [24]:
# 오늘
today1 = datetime.now().date()
today2 = date.today()
today1 == today2

True

In [36]:
print(today1.strftime("%y년 %m월 %d일"))

25년 04월 11일

In [39]:
diff = someday - today1
diff.days

145

## 7.3 시간

In [32]:
# 특정 시간
t = time(13,10)
t

datetime.time(13, 10)

In [33]:
print(t)
print(t.strftime("%p %I시 %M분"))

13:10:00
오후 01시 10분

In [34]:
# 지금 시간
now_time = datetime.now().time()
now_time

datetime.time(11, 7, 14, 821224)

In [35]:

now_time.strftime("H시 %M분 %S초")

'H시 07분 14초'

**datetime, date, time 형들을 원하는 포맷의 문자형으로 반환: strftme()**

# 8절 연습문제.

In [9]:
# 1.이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요 출력형식 : 홍길동님의 나이는 23 살입니다.
name = '홍길동'
age = 23 
print("{}님의 나이는 {:2d}살 입니다.".format(name,age))

홍길동님의 나이는 23살 입니다.

In [15]:
# 2.두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요.
num= int(input('정수를 입력하시오.'))
num1= int(input('정수를 입력하시오.'))
print(num+num1)  
print(num-num1)  
print(num*num1)  
print(num/num1) 
print(num//num1)  
print(num%num1)

정수를 입력하시오.8
정수를 입력하시오.2
10
6
16
4.0
4
0

In [19]:
#3.문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello world'가 할당된 변수를 이용하여‘World hello'로 출력하세요.
temp = 'Hello-World'
splited_temp= temp.split('-')
' '.join(splited_temp[::-1])

'World Hello'

In [26]:
temp = 'Hello-World'
splited_temp = temp.split('-')
' '.join(splited_temp[::-1])

'World Hello'

In [ ]:
#4. x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요 문자 슬라이싱이용

#7.다음 중 변수 선언으로 잘못된 것을 모두 고르시오  1번, for는 예약어이기 때문에
①
for
②
10th
③
Student.name
④
_1234

In [28]:
text = "Seoul A001 - Programming with python"
print(text[:4]+text[-1]+text.split()[0])
print(text[:4],text[-1],text.split()[0])

SeounSeoul
Seou n Seoul

9번은 2번

In [30]:
#10 오류로 떠요^^;
x = 5
y = "john"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'