In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font sixe="8" color="red">ch05_함수</font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인것
- 오버로닝(함수 이름이 같고 매개변수의 타입이나 갯수로 다름 함수를 허용하는 것)불가 
```
def 함수명 ([매개변수], ...[매개변수n]:
    명령어1
    명령어2
    명령어n
```

#오버로딩
def add(a,b):
    print(1)
def add(a,b):
    print(2)

a= 10 , a= 20 #a=10이 살아진다.

In [3]:
def my_message(x, msg): #msg를 x번 출력하는 함수
    for i in range(x):
          print(msg)
my_message(3, "비밀사이")

비밀사이
비밀사이
비밀사이

In [3]:
hello()

hello
hello
hello
hello
hello

In [7]:
hello()

hello
hello
hello
hello
hello

In [8]:
type(my_message)

function

In [1]:
#del_print #변수 제거

In [2]:
print('hello.') #파이썬 내장함수(import 하지 않고 사용할수 있는 함수)
print = 5
del print 
print('hello.')

hello.
hello.

In [4]:
my_message(4, "션다커플.")

션다커플.
션다커플.
션다커플.
션다커플.

In [5]:
#변수를 삭제해도 함수 사용불가(내장함수여서)

In [6]:
#함수 정의 
def my_hello():
    print("헬로 다온아")
    print("헬로 성연아")
#def my_hello(cnt): (안돼)
     #for i in range(cnt):
        #print("헬로 다온아")
        #print("헬로 성연아")
my_hello() #함수사용 = 함수호출

헬로 다온아
헬로 성연아

In [1]:
__name__

'__main__'

In [1]:
import ch05 #ch05모듈을 LOAD

In [3]:
ch05.my_hello(3)

헬로 다온아
헬로 다온아
헬로 다온아
헬로 다온아
헬로 다온아
헬로 다온아

In [ ]:
from ch05 import my_hello #cho5모듈안의 my_hello laod

## 1.2 docstring

In [4]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있다. 
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tap) 으로 독스트링을 볼 수 있다. 
    '''
    pass

In [5]:
def fibonacci(n):
    a,b = 0,1
    while a<n:
        print(a, end='')
        a,b=b,a+b
    print( ) #개행

In [6]:
fibonacci(10)

0112358

In [7]:
#함수 안의 변수들은 함수를 다 실행하면 따로 실행되지 않는다.

## 1.3 지역변수(local var)와 전역변수(global var)

In [12]:
global_var = 100 #전역변수
def func1():
    print('함수안:', global_var)
func1()
print('함수밖:', global_var)

함수안: 100
함수밖: 100

In [13]:
g_var = 100 #전역변수
def func4():
    print('함수안 g_var',g_var)
    #g_var = 200 # 지역변수 
func4()

함수안 g_var 100

In [14]:
g_var = 100 #전역변수
def func4():
    print('함수안 g_var',g_var)
    g_var = 200 # 지역변수 
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [17]:
g_var = 100 #전역변수
def func4():
    global g_var #func4 함수내의 g_var눈 전역변수를 쓴다.
    print('함수안 g_var: ',g_var)
    g_var = 200 #전역변수 
func4()
print('함수 밖:', g_var)

함수안 g_var:  100
함수 밖: 200

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자 숫자, 논리형)일때

In [25]:
foo = 10 #전역변수
id(foo)

1474255716880

In [27]:
def func1(f): # 매개변수 f는 지역변수
    print('Before :', f , ' id(f) :', id(f))
    f = f*3
    print('After :', f , ' id(f) :', id(f))
func1(foo)

Before : 10  id(f) : 1474255716880
After : 30  id(f) : 1474255717520

In [28]:
print(foo, id(foo))

10 1474255716880

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트 튜플 셋 딕셔너리등의 객체일경우

In [21]:
L = [1,2,3]
id(L)

1474340219008

In [23]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, id(f))
    f.append(4)
    print('After :', f, id(f))
func2(L)

Before : [1, 2, 3] 1474340219008
After : [1, 2, 3, 4] 1474340219008

In [24]:
print('L =', L, id(L))

L = [1, 2, 3, 4] 1474340219008

# 2절 함수의 실행결과를 반환하는 return

In [29]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력 
    ex) n =10 이면 0112358을 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행
    
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex) n =10 이면 [0,1,1,2,3,5,8]을 return
    '''
    result = []
    a,b= 0,1
    while a < n:
        result.append(a)
        a,b = b, a+b
    return result

In [30]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

In [31]:
x = fibonacci_print(100)
print(x)
print(type(x))

0 1 1 2 3 5 8 13 21 34 55 89
None
<class 'NoneType'>

## 2.1 여러개값 return

In [32]:
def swap(a,b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [35]:
x , y = 5, 10 
print(f'함수 실행 전, x= {x} , y= {y}')
x, y = swap(5, 10)
print(f'함수 실행 후, x= {x} , y= {y}')

함수 실행 전, x= 5 , y= 10
함수 실행 후, x= 10 , y= 5

# 3절 함수의 매개변수 ★

## 3.1 기본값을 가지는 매개변수

In [40]:
def make_url(ip, port=80): # 순서인수 > 기본값을갖는매개변수
    return "http://{}:{}".format(ip, port)

In [41]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 가지는 매개변수
- 기본변수가 스칼라 변수일때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [68]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg = ', arg)

In [69]:
i = 50
func2()

arg =  5

In [71]:
list_= []
#기본값을 갖는 변수가 객체(데이터구조)일때 : arg의 기본값은 함수를 호출(수행)하는 시점의 값
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [72]:
print (func3(10)) # list_가 수정 :[10]

[10]

In [73]:
print (func3(20))

[10, 20]

In [76]:
def func4(data, L= None):
    if L ==None:
        L = []
    L.append(data)
    return L

In [79]:
print(func4(10))
print(func4(10,list_))

[10]
[10, 20, 10, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [55]:
#파이썬은 오버로딩(함수의 중복)을 지원하지 않는다. 
def add(a,b):
    return a+b
def add(a,b,c):
    return a+b+c

In [58]:
#args: 매개 변수들을 하나의 튜플 변수 args로 전달받는다. 
def add(*args):
    '전달받은 매개변수들의 합을 return'
    print('args =',args)
    result_tot = 0 #누적변수
    for data in args:
        result_tot += data
    return result_tot

In [57]:
add(1,2,3,4,5)

args = (1, 2, 3, 4, 5)

In [71]:
print(add(1))
print(add(1, 2))
print(add(1, 2, 3))
print(add(1, 2, 3, 9, 10))

1
3
6
25

In [72]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [1]:
def concat(*subject, sep):
    return sep.join(subject)

In [2]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [3]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [17]:
# 해결책2 : 기본값을 갖는 반드시 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [18]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [19]:
concat('Python', 'Oracle', 'DL', 'ML')

'Python ~ Oracle ~ DL ~ ML'

In [21]:

print('Python', 'Oracle', 'DL', 'ML', sep='\t')

Python	Oracle	DL	ML

In [26]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [25]:

concat('Python', 'Oracle', 'DL')

'OraclePythonDL'

## 3.4 딕셔너리 매개변수
- 여러 개의 키워드 인수를 딕셔너리 형태로 받아서 가변키워드인수 처리

In [62]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print('이름 : ', kwargs.get('name', '대마왕'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [63]:

func5(name='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [64]:

func5(name='김길동')

{'name': '김길동'}
<class 'dict'>
이름 :  김길동
나이 :  30
주소 :  서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*)> 키워드인수(매개변수인수이름반드시명시>딕셔너리매개변수(**)

In [92]:
def func6(a, b, *c, **d):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리 인수 d :', d)

In [93]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age=30, address='서울')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [94]:

def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e :', e)

In [95]:

func7(10, 20, 1, 2, 3, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

In [96]:

func7(10, 20, 1, 2, 3, '딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, '딴거')
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹
- 튜플인수 언패킹
- 언패킹: 함수 호출시 매개변수앞에 *붙임
- 패킹: 함수 정의시 매개변수 앞에 * 붙임.(튜플매개변수)

In [66]:
def add(*args):
    tot = 0
    for num in args :
        tot += num
    return tot

In [67]:
add(1,2,3,4)

10

In [70]:
numbers = (1,2,3,4)
add(*numbers) #언패킹 *붙이면 된다.

10

## 3.7 딕셔너리인수 언패킹
- 딕셔너리 언패킹: 함수 호출시 매개변수 앞에 ** 붙임
- 딕셔너리 패킹: 함수 정의시 메게뱐스 잎에 ** 붙임

In [81]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [82]:
func5(name = "홍길동",age = 30, address= "신림")

<class 'dict'>
name:홍길동
age:30
address:신림

In [97]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'score': 900}
<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  서울시 강남구

# 4절, 람다식
- return 한줄짜리 작은 익명함수 
## 4.1 람다식 연습

In [83]:
def add(a,b): 
    return a+b
add(3,4)

7

In [85]:
add2= lambda a,b :a+b
add2(3,4)

7

In [86]:
(lambda a,b: a+b)(3,4)

7

In [ ]:
#1. 매개변수로 들어온 밧이 짝수인지 홀수인지 return 
def ex1(num): 
    if num%2:
        result = "홀수"
    else:
        result = "짝수"
    return "홀수 " if num%2 else "짝수"
ex1 = lambda num :"홀수" if num%2 else "짝수"

In [116]:
#2 두 매개변수의 차이를 return 
def diff(a, b):
#     if a>b:
#         result = a-b
#     else:
#         result = b-a
    result = a-b if a>b else b-a
    return result
diff(2, 1), diff(10, 20)
diff(2,1)

1

In [117]:
ex2 = lambda a, b : a-b if a>b else b-a
print(ex2(2, 1), ex2(10,20))
print(type(diff), type(ex2))

1 10
<class 'function'> <class 'function'>

In [118]:
#3 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return 
ex3 = lambda money: money if money>0 else 'negative'
ex3(-50), ex3(5000)

('negative', 5000)

In [100]:
#4 점수를  입력받아 점수가 100이하 80 점 이상은 a 60점 이상은 B 60점 미만은 재시험, 그 외는 유효하지 않음.i

In [ ]:
(lambda a,b : a-b)(4,3)

In [115]:
ex4 = lambda score : "A팀" if 80<=score<=100 \
else "B팀" if 60<=score<=80 \
else"재시험" if 0<=score<60 \
else"유효하지 않음"

ex4(90), ex4(70)

('A팀', 'B팀')

In [121]:
# ex5. safe_index를 람다식으로 
def safe_index(vector, data):
    if data in vector: # lst안에 data 있는지 여부
        return vector.index(data)
    else:
        return -1

In [122]:
ex5 = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)
ex5(tup, 4), ex5(tup, 2)

(-1, 1)

In [28]:
def map_template(func, L=[]):
    'L의 모든 요소를 func()함수를 적용시켜 return'
    result = []
    for l in L:
        result.append(func(l))
    return result
#     return [func(l) for l in L]

In [29]:
# 리스트 데이터를 가공 방법 1. map_template
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
map_template(lambda x : x*2, list_data)
# def x_2(x):
#     return x*2
# map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
map_template(lambda x : x*2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [31]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션
[l*2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [32]:
# 리스트 데이터를 가공 방법 3. map():파이썬 내장함수
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [33]:

'''
예1. [5000,800,1000,6000]로 바꾸시오
'''
prices = ['5,000', '800', '1000', '6,000']

In [34]:
def func(x):
    return int(x.replace(',',''))
func("5,000"), func("1800")

(5000, 1800)

In [35]:

list(map(lambda x : int(x.replace(',','')), prices))

[5000, 800, 1000, 6000]

In [36]:
'''
예2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                {'name':'신길동', 'birth':'1998-12-31'},]를
    member2 =  [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
                {'name':'신길동', 'year':1998, 'month':12, 'day':31},]를 바꿉니다
'''
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
           {'name':'신길동', 'birth':'1998-12-31'},]

In [37]:
# '2000-01-01' => {'year':1998, 'month':12, 'day':31}
def split_date(date):
    split_data = date.split('-')
#     print(split_data[0], split_data[1], split_data[2])
    return {'year': int(split_data[0]),
           'month': int(split_data[1]),
           'day'  : int(split_data[2])
           }

In [38]:
split_date("2000-01-01")

{'year': 2000, 'month': 1, 'day': 1}

In [39]:
def member_func(member): # {'name':'홍길동', 'birth':'2000-01-01'}
    "{'name':'신길동', 'year':1998, 'month':12, 'day':31}식으로 return"
    return {
        'name':member.get('name'),
        'year':int(member['birth'].split('-')[0]),
        'month':int(member['birth'].split('-')[1]),
        'day':int(member['birth'].split('-')[2]),
    }
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [46]:
member2 =list(map(lambda member : {
                        'name':member.get('name'),
                        'year':int(member['birth'].split('-')[0]),
                        'month':int(member['birth'].split('-')[1]),
                        'day':int(member['birth'].split('-')[2]),
                        } ,
         member1
        )
    )
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [41]:
# {'year': 2000, 'month': 1, 'day': 1} => "2000-01-01"를 return하는 함수
def join_date(data):
    # print([data.get('year'), data.get('month'), data.get('day')])
    year = str(data.get('year'))
    month = data.get('month')
    if month < 10:
        month = '0'+str(month)
    else:
        month = str(month)
    day = data.get('day')
    if day < 10:
        day = '0'+str(day)
    else:
        day = str(day)
    return '-'.join([year, month, day])

In [42]:

def join_date(data):
    print("{}-{:02}-{:02}".format(data.get('year'), 
                                  data.get('month'), 
                                  data.get('day')))

In [44]:
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)

In [43]:
join_date({'year': 2000, 'month': 1, 'day': 1})

2000-01-01

In [47]:
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

### (2) filter
- map 처리: [1,2,3,4,5] => [2,4,6,8,10] (벡터의 모든 데이터를 가공)
- filter: [1,2,3,4,5] => [2,4] (원하는 정보를 추출)
* cf) 리스트 컴프리헨션

In [48]:
def filter_template(func, L=[]):
    result = []
    for l in L:
        if func(l):
            result.append(l)
    return result

In [49]:
def evenChk(value):
    return value%2==0
evenChk(10), evenChk(-9)

(True, False)

In [50]:
list_data = [1, 2, 3, 4, 5]
filter_template(lambda value : value%2==0 ,  list_data)

[2, 4]

In [51]:

list(filter(lambda value : value%2==0, list_data))

[2, 4]

In [52]:
[data for data in list_data if data%2==0]

[2, 4]

### (3) sort

In [53]:
p = [9, 2, 7]
p.sort(reverse=True)
p

[9, 7, 2]

In [56]:
# 무조건 0번째 item 기준으로 정렬
pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [57]:
# 1번째 item 기준으로 정렬(abc순)
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [58]:
# 무조건 0번째 item기준으로 정렬
number2d = [[9, 9, 9, 9, 9, 9],
            [1, 100],
            [10, 1]]
number2d.sort(reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬
number2d

[[10, 1], [9, 9, 9, 9, 9, 9], [1, 100]]

In [59]:
# 리스트를 매개변수로 받아 합을 return
(lambda item : sum(item))([1,2,3])

6

In [60]:

# 합이 큰 순으로 정렬
number2d.sort(key = lambda data : sum(data), reverse=True)
number2d

[[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]]

In [54]:
# 무조건 0번 item기준으로 정렬
number2d = [[9, 9, 9, 9, 9, 9],
            [1, 100],
            [10, 1]]
number2d.sort(reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬
number2d

[[10, 1], [9, 9, 9, 9, 9, 9], [1, 100]]

In [65]:
students = [
    {'name':'홍길동', 'score':90},
    {'name':'김길동', 'score':50},
    {'name':'윤길동', 'score':99},
    {'score':100}
]

In [68]:
# 이름순으로 정렬(ㄱㄴㄷ순)
students.sort(key = lambda item : item.get('name','힣')) # item['name'] == item.get('name')
students

[{'name': '김길동', 'score': 50},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'score': 100}]

In [81]:
# score순으로 정렬(내림차순정렬 : reverse=True)
students.sort(key = lambda item : item.get('score', 0), reverse=True)
students

[{'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'name': '김길동', 'score': 50}]

In [12]:
# 책 제목순 정렬(ㄱ,ㄴ,ㄷ), 저자순 정렬(ㄱㄴㄷ) 가격순 정렬 
books =[
    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},
    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},
    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},
    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},
    {'no':6, 'title':'가격이없음', 'writer':'김길동'},
]

In [13]:
books.sort(key = lambda book : book.get('title'))
books

[{'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'}]

In [1]:
# '14,000' -> 14000, / 800 -> 800 / '-' > 0
def parse_int(price):
    #print(type(price))
    if isinstance(price, int):
        return price

In [2]:
parse_int(800)

800

In [3]:
# '14,000' -> 14000 / "2000" -> 2000 / 800 -> 800 / '-' -> 0
def parse_int(price):
    #print(type(price))
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',', ''))
    elif isinstance(price, int):
        return price

In [4]:
parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int('-')

(8000, 8000, 800, None)

In [15]:
# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return
# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220
# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900

def parse_int(book):
    if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit():
        return int( book.get('price').replace(',','') )
    elif isinstance(book.get('price'), int):
        return book.get('price')
    else:
        return 0

In [16]:
parse_int(books[3])

25200

## 4.3 return문에 람다식 이용

In [26]:
#함수를 return 
def make_box(shape): #shape: [L] => Len가 L인 list를 생성하는 함수 return,
                     # [r,c] => r행 c 열인 2차원 list를 생성하는 함수 return 
        def box(init_value):
            if len(shape)==1:
                return [init_value]*shape[0]
            elif len(shape)==2:
                return [[init_value]*1]*shape[0]
        return box

In [29]:
def make_box(shape):
    if len(shape)==1:
        return lambda init_value : [init_value]*shape[0]
    elif len(shape)==2:
        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]

In [30]:
line_func = make_box([2,3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

In [31]:
line_func1 = make_box([10])
line_func1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

# 5 내장함수

In [27]:
round(3.5)

4

In [34]:
import numpy as np #numpy 모듈을 np라는 이름으로 Load 
np.round(3.5), np.ceil(3.5) ,np.floor(3.9)

(4.0, 4.0, 3.0)

In [33]:
all([True, True, True, False])

False

# 연습문제(실습형)

In [54]:
#6
f_lambda = lambda x, y: x**y
f_lambda(2,3)

8

In [60]:
#7 
data_list = [1, 2, 3, 4, 5]
result = list(map(lambda x: x**2, data_list))
print(result)

[1, 4, 9, 16, 25]

In [58]:
data_list = [1,2,3,4,5]

In [59]:
result = [l**2 for l in data_list]
result

[1, 4, 9, 16, 25]

In [ ]:
#8 *a를 해서 리스트 a를 언팩킹 한것입니다.

In [49]:
#9 
date_info = {'year':2024, 'month':9, 'day':6}
result = '{year}-{month}-{day}'.format(**date_info)
result                                #언팩킹

'2024-9-6'

# 연습문제 서술형

In [50]:
#1
pairs = [(1,'d'),(2,'c'),(3,'b'),(4,'a')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [7]:
#2
a=10 
def sub():
     global a += 1
    print(a, end='')
def func():
    for i in range(2):
        a=5
        a+=1
        print(a,end='')
        sub()
a+=1
func()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [ ]:
#오류가 발생하는 라인: 12, 14번
# 문제해결을 위한 코드: 지역변수 a를 글로벌변수로 전환하면 됩니다.

In [8]:
#6 1번 파이썬의 함수는 중복 정의해서 사용불가

In [ ]:
# 7번 4번 a에 두번이 할당