In [49]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font sixe="5" color="red">ch03_데이터구조</font>
- 리스트 [ ] , 튜플 ( ), 딕셔너리{  } 셋
# 1절. 리스트 
## 1.1 리스트만들기 
- [    ] 를 이용해서 만들며, 여러개의 값(여러 타입)을 하나의 변수에 저장/관리 할 수 있음 
- list(리스트로 변환 가능한 자료) 함수 이용도 가능
- 인덱스: 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1 
- 슬라이싱: (  [from:stop:step] ): 부분 데이터셋 추출 
- 인덱스와 슬라이싱을 이용해서 읽기 쓰기 지원

In [9]:
fruits = ['banana','apple','orange' ,'grape']
type(fruits)

list

In [10]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [11]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [ ]:
fruits = ['mango', 'apple', 'orange']
x, y ,z = fruits

In [12]:
# range(from, to, step) : from부터 to 앞까지 by 씩 증가하면서 지정된 범위의 정수 
                          # from 생략: 0부터, by 생략: 1씩
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(range(101,111))

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [14]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [20]:
# 반복문(3회) , for가 반복
for i in range(3) :
          print(i)

0
1
2

In [25]:
for value in fruits:
    print(value)

mango
apple
orange
grape

In [21]:
fruits = ['mango', 'apple', 'orange']
for i in range(3):
    print("{}번째 과일은 {}입니다". format(i, fruits[i]))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다

In [26]:
fruits = ['mango', 'apple', 'orange', 'grape'] #len(fruits): 리스트 데이터 수
for i in range(len(fruits)):
    print("{}번째 과일은 {}입니다". format(i, fruits[i]))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [23]:
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {} 입니다.". format(idx,value))

0번째 과일은 mango 입니다.
1번째 과일은 apple 입니다.
2번째 과일은 orange 입니다.
3번째 과일은 grape 입니다.

In [24]:
# enunerate(나열가능한자료) : -> (index, 값) 들의 셋들
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [29]:
#리스트는 여러 타입의 데이터를 담을 수 있다. 
numbers = [0, True, "2", 3, [4,5,6]]
print(numbers)
print(numbers[1], numbers[4][1])

[0, True, '2', 3, [4, 5, 6]]
True 5

In [36]:
#2차원 리스트
numbers_2d = [[90 ,91, 92, 93], 
              [80, 81, 82, 83] ,
              [70,71,72, 73],]
len(numbers_2d), len(numbers_2d[0])

(3, 4)

In [39]:
for i ,row in enumerate(numbers_2d) : 
    for j , value in enumerate(row):
        print("{}행{}열 : {}".format(i, j, value), end='\t')
    print()

0행0열 : 90	0행1열 : 91	0행2열 : 92	0행3열 : 93
1행0열 : 80	1행1열 : 81	1행2열 : 82	1행3열 : 83
2행0열 : 70	2행1열 : 71	2행2열 : 72	2행3열 : 73

In [40]:
for row in numbers_2d:
    for item in row :
        print(item, end='\t')

90	91	92	93	80	81	82	83	70	71	72	73

## 1.2 기본 정보 조회

In [42]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100,0], [9,100,1,2,3], [50,54]]

In [51]:
min(numbers), max(numbers)

(1, 12)

In [43]:
#2차원 list의 min(): 0번 인덱스 요소가 가장 작은 것
#             man(): 0번 인덱스 요소가 가장 큰것
min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [48]:
numbers = [1, 12, 3, 5, 4]
#정렬(오름차순, 내림차순)
print('오름차순:',sorted(numbers))
print('내림차순:', sorted(numbers, reverse= True) )
print('sorted 함수 사용시 리스트 내용이 바뀌지 않음:', numbers)
print('합:', sum(numbers))

오름차순: [1, 3, 4, 5, 12]
내림차순: [12, 5, 4, 3, 1]
sorted 함수 사용시 리스트 내용이 바뀌지 않음: [1, 12, 3, 5, 4]
합: 25

In [54]:
fruits = ['mango', 'apple', 'orange', 'APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

## 1.3 요소 추가
 ```
+ : 두 리스트 연결
* : 리스트를 곱한 수만 반복 
append() : 맨 뒤에 요소 추가 
extend() : 맨 뒤에 리스트를 요소별로 추가 
insert(idx, 값): idx 인덱스 위치에 추가(기존 데이터는 shift 밀려나간다)
```

In [55]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [57]:
#요소별로 각기 추가
num = [1,2,3]
num.extend([4,5,6])
print(num)

[1, 2, 3, 4, 5, 6]

In [60]:
num.insert(2,'x')
print(num)

[1, 2, 'x', 'x', 'x', 3, 4, 5, 6]

In [61]:
num = [1,2,3]
num.append([4,5,6])
print(num)

[1, 2, 3, [4, 5, 6]]

##  1.,4인덱싱과 요소 갯수
```
변수[index] : 인덱스를 이용한 접근
index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환 찾을데이터가 없을 경우 오류
count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환 
```

In [62]:
numbers = [1,2,3, [1,2,3],1,2,3]
numbers.count(2) , numbers.count(9)

(2, 0)

In [63]:
numbers.index(2)

1

In [64]:
numbers.index(2,3)

5

In [78]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
if 2 in numbers:
    print(numbers.index(2))
else:
    print('9가 없어요')

1

In [65]:
9 in numbers #numbers 리스트에 9가 존재하는지 여부

False

In [71]:
def safe_index(lst, data):
    if data in lst: #list 안에 data 있는지 여부
        return lst.index(data)  
    else:
        return -1

In [72]:
safe_index(numbers, 9)

-1

In [73]:
safe_index(numbers, 2)

1

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱: 리스트에서 원하는 index의 데이터를 추출(인덱스 범위 벗어나도 에러 노노)
- [from:stop:step] fromqnxj stop까지 step씩 증가하는 index의 값을 추출
- from 생략시 처음, stop 생략시 끝, step 생략되면 1, 모두 생략가능
- 음수 인덱스 가능
- 리스트에서 원하는 데이터를 추출

In [79]:
numbers = [1,3,5,9,10,12,13,20]
#짝수 번째 인덱스 값 출력
#거꾸로 출력

In [82]:
print(numbers[::2])
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [86]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
# 리스트에서 모든 데이터를 변수에 담아 출력하시오.
result = []
for data in numbers:
    result.append(data)
print(result)
# 리스트에서 짝수 데이터만 변수에 담아 출력하시오.
result = []
for data in numbers:
    if not data%2:
        result.append(data)
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]
[10, 12, 20]

In [85]:
result = []
for data in numbers:
    result. append(data)
    print(result)

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 9]
[1, 3, 5, 9, 10]
[1, 3, 5, 9, 10, 12]
[1, 3, 5, 9, 10, 12, 13]
[1, 3, 5, 9, 10, 12, 13, 20]

In [87]:

# numbers의 모든 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 20]

In [89]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers if data%2==0]

[10, 12, 20]

In [93]:
# ex1. numbers에서 10이상만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
[data for data in numbers if data>=10]

[10, 12, 13, 20]

In [99]:
# ex2. fruits에서 5글자가 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[item for item in fruits if len(item)>5]

['orange']

In [100]:
# ex3. 3이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
[item**2 for item in L if item>=3]

[9, 16, 25]

In [124]:
## 1.6 요소 수정하기 
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[3] =222
numbers

[0, 1, 2, 222, 4, 5, 6, 7, 8, 9]

In [102]:
#t슬라이싱 이용해서 요소 수정 (step 부분이 미포함: 부분 리스트가 통째로 수정)
numbers[1:4]=['x']
numbers

[0, 'x', 4, 5, 6, 7, 8, 9]

In [125]:
#슬라이싱을 이용해서 요소 수정(step 부분 포함: 요소 갯수가 맞아야함)
numbers[::2]=['x', 5,5,5,5]
numbers

['x', 1, 5, 222, 5, 5, 5, 7, 5, 9]

## 1.7 요소 삭제 
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제 
- pop(idx): idx번째 요소가 반환되고 삭제 
- remove(자율data) : 리스트의 데이터가 삭제 
- del변수[idx] : idx번째 데이터가 삭제

In [112]:
numbers = [1,2,3,4,5]
delete_data = numbers.pop()
print("삭제된 데이터: {}, 리스트: {} .".format(delete_data, numbers))
delete_data2 = numbers.pop(0)
print("삭제된 데이터: {}, 리스트: {} .".format(delete_data2, numbers))

삭제된 데이터: 5, 리스트: [1, 2, 3, 4] .
삭제된 데이터: 1, 리스트: [2, 3, 4] .

In [121]:
numbers = [1,2,3,4,5]
del_num = numbers.remove(3)
print(del_num)
#remove는 반환값이 없고 해당데이터만 삭제, 해당데이터가 없으면 오류
print(numbers)

None
[1, 2, 4, 5]

In [118]:
if 9 in numbers: 
    numbers.remove(9)
    
else: 
    print("해당 번호가 없습니다.")

해당 번호가 없습니다.

In [122]:
def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, '삭제 완료')
    else:
        print(f'{remove_data}는 없는 아이템입니다')

In [123]:
safe_remove(numbers, 9)
safe_remove(numbers, 5)

{remove_data}는 없는 아이템입니다
5 삭제 완료