In [49]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font sixe="5" color="red">ch03_데이터구조</font>
- 리스트 [ ] , 튜플 ( ), 딕셔너리{  } 셋
# 1절. 리스트 
## 1.1 리스트만들기 
- [    ] 를 이용해서 만들며, 여러개의 값(여러 타입)을 하나의 변수에 저장/관리 할 수 있음 
- list(리스트로 변환 가능한 자료) 함수 이용도 가능
- 인덱스: 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1 
- 슬라이싱: (  [from:stop:step] ): 부분 데이터셋 추출 
- 인덱스와 슬라이싱을 이용해서 읽기 쓰기 지원

In [9]:
fruits = ['banana','apple','orange' ,'grape']
type(fruits)

list

In [10]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [11]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [ ]:
fruits = ['mango', 'apple', 'orange']
x, y ,z = fruits

In [12]:
# range(from, to, step) : from부터 to 앞까지 by 씩 증가하면서 지정된 범위의 정수 
                          # from 생략: 0부터, by 생략: 1씩
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(range(101,111))

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [14]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [20]:
# 반복문(3회) , for가 반복
for i in range(3) :
          print(i)

0
1
2

In [25]:
for value in fruits:
    print(value)

mango
apple
orange
grape

In [21]:
fruits = ['mango', 'apple', 'orange']
for i in range(3):
    print("{}번째 과일은 {}입니다". format(i, fruits[i]))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다

In [26]:
fruits = ['mango', 'apple', 'orange', 'grape'] #len(fruits): 리스트 데이터 수
for i in range(len(fruits)):
    print("{}번째 과일은 {}입니다". format(i, fruits[i]))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [23]:
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {} 입니다.". format(idx,value))

0번째 과일은 mango 입니다.
1번째 과일은 apple 입니다.
2번째 과일은 orange 입니다.
3번째 과일은 grape 입니다.

In [24]:
# enunerate(나열가능한자료) : -> (index, 값) 들의 셋들
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [29]:
#리스트는 여러 타입의 데이터를 담을 수 있다. 
numbers = [0, True, "2", 3, [4,5,6]]
print(numbers)
print(numbers[1], numbers[4][1])

[0, True, '2', 3, [4, 5, 6]]
True 5

In [36]:
#2차원 리스트
numbers_2d = [[90 ,91, 92, 93], 
              [80, 81, 82, 83] ,
              [70,71,72, 73],]
len(numbers_2d), len(numbers_2d[0])

(3, 4)

In [39]:
for i ,row in enumerate(numbers_2d) : 
    for j , value in enumerate(row):
        print("{}행{}열 : {}".format(i, j, value), end='\t')
    print()

0행0열 : 90	0행1열 : 91	0행2열 : 92	0행3열 : 93
1행0열 : 80	1행1열 : 81	1행2열 : 82	1행3열 : 83
2행0열 : 70	2행1열 : 71	2행2열 : 72	2행3열 : 73

In [40]:
for row in numbers_2d:
    for item in row :
        print(item, end='\t')

90	91	92	93	80	81	82	83	70	71	72	73

## 1.2 기본 정보 조회

In [42]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100,0], [9,100,1,2,3], [50,54]]

In [51]:
min(numbers), max(numbers)

(1, 12)

In [43]:
#2차원 list의 min(): 0번 인덱스 요소가 가장 작은 것
#             man(): 0번 인덱스 요소가 가장 큰것
min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [48]:
numbers = [1, 12, 3, 5, 4]
#정렬(오름차순, 내림차순)
print('오름차순:',sorted(numbers))
print('내림차순:', sorted(numbers, reverse= True) )
print('sorted 함수 사용시 리스트 내용이 바뀌지 않음:', numbers)
print('합:', sum(numbers))

오름차순: [1, 3, 4, 5, 12]
내림차순: [12, 5, 4, 3, 1]
sorted 함수 사용시 리스트 내용이 바뀌지 않음: [1, 12, 3, 5, 4]
합: 25

In [54]:
fruits = ['mango', 'apple', 'orange', 'APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

## 1.3 요소 추가
 ```
+ : 두 리스트 연결
* : 리스트를 곱한 수만 반복 
append() : 맨 뒤에 요소 추가 
extend() : 맨 뒤에 리스트를 요소별로 추가 
insert(idx, 값): idx 인덱스 위치에 추가(기존 데이터는 shift 밀려나간다)
```

In [55]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [57]:
#요소별로 각기 추가
num = [1,2,3]
num.extend([4,5,6])
print(num)

[1, 2, 3, 4, 5, 6]

In [60]:
num.insert(2,'x')
print(num)

[1, 2, 'x', 'x', 'x', 3, 4, 5, 6]

In [61]:
num = [1,2,3]
num.append([4,5,6])
print(num)

[1, 2, 3, [4, 5, 6]]

##  1.,4인덱싱과 요소 갯수
```
변수[index] : 인덱스를 이용한 접근
index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환 찾을데이터가 없을 경우 오류
count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환 
```

In [62]:
numbers = [1,2,3, [1,2,3],1,2,3]
numbers.count(2) , numbers.count(9)

(2, 0)

In [63]:
numbers.index(2)

1

In [64]:
numbers.index(2,3)

5

In [78]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
if 2 in numbers:
    print(numbers.index(2))
else:
    print('9가 없어요')

1

In [65]:
9 in numbers #numbers 리스트에 9가 존재하는지 여부

False

In [71]:
def safe_index(lst, data):
    if data in lst: #list 안에 data 있는지 여부
        return lst.index(data)  
    else:
        return -1

In [72]:
safe_index(numbers, 9)

-1

In [73]:
safe_index(numbers, 2)

1

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱: 리스트에서 원하는 index의 데이터를 추출(인덱스 범위 벗어나도 에러 노노)
- [from:stop:step] fromqnxj stop까지 step씩 증가하는 index의 값을 추출
- from 생략시 처음, stop 생략시 끝, step 생략되면 1, 모두 생략가능
- 음수 인덱스 가능
- 리스트에서 원하는 데이터를 추출

In [79]:
numbers = [1,3,5,9,10,12,13,20]
#짝수 번째 인덱스 값 출력
#거꾸로 출력

In [82]:
print(numbers[::2])
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [86]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
# 리스트에서 모든 데이터를 변수에 담아 출력하시오.
result = []
for data in numbers:
    result.append(data)
print(result)
# 리스트에서 짝수 데이터만 변수에 담아 출력하시오.
result = []
for data in numbers:
    if not data%2:
        result.append(data)
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]
[10, 12, 20]

In [85]:
result = []
for data in numbers:
    result. append(data)
    print(result)

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 9]
[1, 3, 5, 9, 10]
[1, 3, 5, 9, 10, 12]
[1, 3, 5, 9, 10, 12, 13]
[1, 3, 5, 9, 10, 12, 13, 20]

In [87]:

# numbers의 모든 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 20]

In [89]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers if data%2==0]

[10, 12, 20]

In [93]:
# ex1. numbers에서 10이상만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
[data for data in numbers if data>=10]

[10, 12, 13, 20]

In [99]:
# ex2. fruits에서 5글자가 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[item for item in fruits if len(item)>5]

['orange']

In [100]:
# ex3. 3이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
[item**2 for item in L if item>=3]

[9, 16, 25]

In [124]:
## 1.6 요소 수정하기 
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[3] =222
numbers

[0, 1, 2, 222, 4, 5, 6, 7, 8, 9]

In [102]:
#t슬라이싱 이용해서 요소 수정 (step 부분이 미포함: 부분 리스트가 통째로 수정)
numbers[1:4]=['x']
numbers

[0, 'x', 4, 5, 6, 7, 8, 9]

In [125]:
#슬라이싱을 이용해서 요소 수정(step 부분 포함: 요소 갯수가 맞아야함)
numbers[::2]=['x', 5,5,5,5]
numbers

['x', 1, 5, 222, 5, 5, 5, 7, 5, 9]

## 1.7 요소 삭제 
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제 
- pop(idx): idx번째 요소가 반환되고 삭제 
- remove(자율data) : 리스트의 데이터가 삭제 
- del변수[idx] : idx번째 데이터가 삭제

In [112]:
numbers = [1,2,3,4,5]
delete_data = numbers.pop()
print("삭제된 데이터: {}, 리스트: {} .".format(delete_data, numbers))
delete_data2 = numbers.pop(0)
print("삭제된 데이터: {}, 리스트: {} .".format(delete_data2, numbers))

삭제된 데이터: 5, 리스트: [1, 2, 3, 4] .
삭제된 데이터: 1, 리스트: [2, 3, 4] .

In [121]:
numbers = [1,2,3,4,5]
del_num = numbers.remove(3)
print(del_num)
#remove는 반환값이 없고 해당데이터만 삭제, 해당데이터가 없으면 오류
print(numbers)

None
[1, 2, 4, 5]

In [118]:
if 9 in numbers: 
    numbers.remove(9)
    
else: 
    print("해당 번호가 없습니다.")

해당 번호가 없습니다.

In [122]:
def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, '삭제 완료')
    else:
        print(f'{remove_data}는 없는 아이템입니다')

In [123]:
safe_remove(numbers, 9)
safe_remove(numbers, 5)

{remove_data}는 없는 아이템입니다
5 삭제 완료

## 1.8 정렬하기

In [12]:
numbers = [1, 9, 5, 0, 8] # reverse=True:내림차순
print('numbers는 변경하지 않고 정렬 :', sorted(numbers, reverse=True))
print('numbers :', numbers)

numbers는 변경하지 않고 정렬 : [9, 8, 5, 1, 0]
numbers : [1, 9, 5, 0, 8]

In [14]:
numbers.sort() #numbers 자체가 정렬한 결과로 바뀜(기본정렬: 오름차순)
numbers

[0, 1, 5, 8, 9]

In [15]:
numbers.reverse() #numbers 자체가 역순으로 변경 
numbers

[9, 8, 5, 1, 0]

In [8]:
lst = [2,5,9]
#lst.reverse() 
lst = lst[::-1]
lst

[9, 5, 2]

## 1.9 복제하기

In [21]:
#스칼라 데이터의 (데이터가 하나) 복제
i = 10 #원본
copy_i = i #복제본
print(f"원본={i},복사본={copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")
copy_i = 99
print(f"원본={i},복사본={copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")

원본=10,복사본=10 / 원본주소=2266904855056, 복사본주소=2266904855056
원본=10,복사본=99 / 원본주소=2266904855056, 복사본주소=2266904857904

In [40]:
#리스트(배열, 데이터프레임, 딕셔너리)의 복제 (절대 안됌)
numbers = [5, 8 ,1] #원본
new_numbers = numbers #복사본 
new_numbers[0] = 9
print('원본:', numbers)
print('복제본:', numbers)

원본: [9, 8, 1]
복제본: [9, 8, 1]

In [19]:
a= 9
print(a, id(a))
a= 8 
print(a, id(a))

9 2266904855024
8 2266904854992

In [41]:
#얕은 복사(할당) / 깊은 복사(복제)
numbers = [5, 8 ,1] #원본
new_numbers = numbers #얕은 복사(할당)
print(f'원본={numbers},복제본={new_numbers}')
print(f'원본주소={id(numbers)},복제본={id(new_numbers)}')
new_numbers[0]= -99
new_numbers.sort()
print("복제본만 지지고 볶고")
print(f'원본={numbers},복제본={new_numbers}')
print(f'원본주소={id(numbers)},복제본={id(new_numbers)}')

원본=[5, 8, 1],복제본=[5, 8, 1]
원본주소=2267021263488,복제본=2267021263488
복제본만 지지고 볶고
원본=[-99, 1, 8],복제본=[-99, 1, 8]
원본주소=2267021263488,복제본=2267021263488

In [26]:
#깊은 복사(복제)
numbers = [5, 8 ,1] #원본
new_numbers = numbers.copy() #깊은 복사(할당)
print(f'원본={numbers},복제본={new_numbers}')
print(f'원본주소={id(numbers)},복제본={id(new_numbers)}')
new_numbers[0]= -99
new_numbers.sort()
print("복제본만 지지고 볶고")
print(f'원본={numbers},복제본={new_numbers}')
print(f'원본주소={id(numbers)},복제본={id(new_numbers)}')

원본=[5, 8, 1],복제본=[5, 8, 1]
원본주소=2267012822144,복제본=2267017138752
복제본만 지지고 볶고
원본=[5, 8, 1],복제본=[-99, 1, 8]
원본주소=2267012822144,복제본=2267017138752

In [42]:
#깊은 복사(복제)
numbers = [5, 8 ,1] #원본
new_numbers = numbers.copy() #깊은 복사(할당)
print(f'원본={numbers},복제본={new_numbers}')
print(f'원본주소={id(numbers)},복제본={id(new_numbers)}')
new_numbers[0]= -99
new_numbers.sort()
new_numbers.remove(-99)
print("복제본만 지지고 볶고")
print(f'원본={numbers},복제본={new_numbers}')
print(f'원본주소={id(numbers)},복제본={id(new_numbers)}')

원본=[5, 8, 1],복제본=[5, 8, 1]
원본주소=2267020908992,복제본=2267021495296
복제본만 지지고 볶고
원본=[5, 8, 1],복제본=[1, 8]
원본주소=2267020908992,복제본=2267021495296

In [29]:
numbers.clear() #리스트의 복제
numbers

[]

# 2절 튜플 
- 리스트와 유사하지만, 읽기 전용, 수정이 필요없는 데이터에서 사용
- 수정 불가하므로, 튜플에 데이터 수정 추가 삭제 불가(제공되는 함수도 많지 않음)
- (), tupple() 이용해서 생성

In [30]:
#city = ('서울', '부산','인천','목포') #파이썬은 여러개의 값이 전달될때 튜플 타입으로 전달 
city = '서울', '부산','인천','목포'
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천', '목포')

In [31]:
a,b = 10, 12
print(a,b)

10 12

In [34]:
city = ('서울', '부산','인천','목포')
'/'.join(city)

'서울/부산/인천/목포'

In [43]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(l), l)

<class 'list'> ['서울']

In [45]:
t = ('서울') # 요소가 하나 있는 리스트
print(type(l), l)

<class 'list'> ['서울']

In [50]:
t = ('서울', ) # 요소가 하나 있는 튜플(, 반드시 기입)
print(type(t), t)

<class 'tuple'> ('서울',)

In [51]:

numbers = (1, 2, 3)
# numbers.remove(3) 수정하기 위한 함수는 제공되지 않음
# numbers.append(4)
# numbers.pop()
# numbers.sort()
min(numbers), max(numbers), sum(numbers), sorted(numbers, reverse=True)

(1, 3, 6, [3, 2, 1])

In [52]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2), numbers.count(9)

(2, 0)

In [53]:
t = '서울'
print(type(t), t)

<class 'str'> 서울

In [54]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2), numbers.count(9)

(2, 0)

In [55]:
if 9 in numbers:
    numbers.index(9)
else:
    print('9 요소가 없어요')

9 요소가 없어요

In [57]:
def safe_index(lst, item):
    """
    lst안에 item 요소가 있으면 item 요소의 index를 반환, 없으면 -1반환
    lst : 나열가능한 데이터
    item : 찾을 데이터
    """
    if item in lst:
        return lst.index(item)
    else:
        return -1
    # return lst.index(item) if item in lst else -1

In [3]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
from safe import safe_index
safe_index(numbers, 9), safe_index(numbers, 2)

(-1, 2)

In [4]:
numbers*3

(0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2)

In [5]:
# 짝수 요소들을 추출하여 제곱한 데이터를 출력 
numbers = (1,2,3,4,5,6)
[num for num in numbers]

[1, 2, 3, 4, 5, 6]

In [9]:
# 짝수 요소들을 추출하여 제곱한 데이터를 출력 
numbers = (1,2,3,4,5,6)
tuple([num**2 for num in numbers if num%2==0])

(4, 16, 36)

# 3절. 딕셔너리
- 중괄호를 이용하여 ({}) 키(key)-값(value) 쌍으로 구성된 자료구조 
- 키는 중복불가(유일한 값), 키에 list는 사용불가
- 값은 중복 가능
- 인덱스를 이용한 참조 지원안함.

In [11]:
my_favorite = {'fruit':'durian', 'number': 12, 'sport': 'golf'}
my_favorite

{'fruit': 'durian', 'number': 12, 'sport': 'golf'}

In [16]:
print(my_favorite['fruit'])     #없는 키값을 인덱스 방식으로 참조시 에러 , 없는 키를 get 함수로 참조시 NONE, 없는 키를 get 함수로 참조시 '-'
print(my_favorite.get('people'))

durian
None

In [24]:
my_favorite = {'fruit':'durian', 'number': 12, 'sport': 'golf'} #딕션어리 데이터 수정하기 
my_favorite ['fruit'] = 'mango'
my_favorite
my_favorite ["people"] = 'daon'
my_favorite
my_favorite.pop('number') #넘버 키의 값을 반환하고 제거
my_favorite

{'fruit': 'mango', 'sport': 'golf', 'people': 'daon'}

In [25]:
# for문을 활용한 튜플(리스트) 출력
my_tup = ('정다온' , 31, '010-9999-1025')

In [3]:
my_dic = {"name" : "정다온" , 'age': 30, 'tel':'010-9999-1025' }

In [40]:
my_dic['age']

30

In [49]:
for data in my_tup:
    print(data, end="\t")
print()
for idx in range(len(my_tup)):
    print(f"{idx}번째 {my_tup[idx]}", end="\t")
print()
for idx, value in enumerate(my_tup):
    print(f"{idx}번째 {value}", end="\t")

정다온	31	010-9999-1025
0번째 정다온	1번째 31	2번째 010-9999-1025
0번째 정다온	1번째 31	2번째 010-9999-1025

In [37]:
#엄청 비추 
for data in my_dic:
    print(data, end = '/')

name/age/tel/

In [13]:
#엄청 비추 
for data in my_dic:
    print(my_dic[data], end = '/')

정다온/30/010-9999-1025/

In [41]:
my_dic.values()

dict_values(['정다온', 30, '010-9999-1025'])

In [42]:
my_dic.keys()

dict_keys(['name', 'age', 'tel'])

In [43]:
my_dic.items()

dict_items([('name', '정다온'), ('age', 30), ('tel', '010-9999-1025')])

In [44]:
for data in my_dic.values():
    print(data, end = '/')

정다온/30/010-9999-1025/

In [6]:
for key, data in my_dic.items():
    print(f"{key}:{data}", end='\t')

name:정다온	age:30	tel:010-9999-1025

In [8]:
list(enumerate(my_dic.items()))

[(0, ('name', '정다온')), (1, ('age', 30)), (2, ('tel', '010-9999-1025'))]

In [ ]:
for idx, (key, value) in enumerate(my_dic.items())
print ("{},")

In [54]:
for idx, (key, value) in enumerate(my_dic.items()):
    print("{}.{:4} : {}".format(idx+1, key, value))

1.name : 정다온
2.age  : 30
3.tel  : 010-9999-1025

In [9]:
"정다온" in my_dic

False

In [11]:
"정다온" in my_dic.values()

True

In [55]:
# 얕은 복사
my_favorite = {'fruit':'apple', 'number':12} # 원본
new_favorite = my_favorite # 복제본(얕은 복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12, 'people': '홍길동'}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

In [56]:
# 깊은 복사
my_favorite = {'fruit':'apple', 'number':12} # 원본
new_favorite = my_favorite.copy() # 복제본(깊은 복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

# 4 절. 셋
- 중복을 허용하지 않는 집합(순서없음 == 인덱스없음)
- 중활호나 set() 함수를 이용해서 셋 생성
- 추가 " add(), update()
- 집합연산자 : &, |, - 
- 삭제 : remove()

In [16]:
fruits = {'바나나', '두리안', '오렌지' , '사과' , '사과'}
fruits

{'두리안', '바나나', '사과', '오렌지'}

In [17]:
s1 = set(fruits)
s1

{'두리안', '바나나', '사과', '오렌지'}

In [19]:
# set 함수를 이용해서 딕셔너리를 셋으로 전환할때는 key만 적용
my_favorite = {'fruit': 'apple', 'number': '12'}
set(my_favorite)

{'fruit', 'number'}

추가하기 
- add() : 기본자료형, 튜플데이터 하나의 요소로 추가할경우 
- update() :리스트, 튜플, 딕션어리의, 셋 요소 하나하나씩 추가할 경우 dict 사용시 key만 추가

In [24]:
s2 = {1,1,2,3}
s2.add(4)
s2

{1, 2, 3, 4}

In [27]:
s2 = {1,1,2,3}
s2.update([5,6,7])
s2

{1, 2, 3, 5, 6, 7}

In [30]:
#논리값 false는 false, 0으로 
#논리값 True는 True, 1로 

s= {1,2,3}
s.add(0)
s

{0, 1, 2, 3}

In [32]:
s.add(False)
s

{0, 1, 2, 3}

In [33]:
s.add(True)
s

{0, 1, 2, 3}

## 4.2 연산: &(교집합), | (합집합), -(차집합)
- &,| : 집합연산자, 비트연산자,

In [53]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print('s1 | s2 = ', s1|s2)
print('s1 & s2 = ', s1&s2)
print('s1 - s2 = ', s1-s2)

s1 | s2 =  {1, 2, 3, 4, 5, 6, 7}
s1 & s2 =  {3, 4, 5}
s1 - s2 =  {1, 2}

# 5절 enumerate
- 반복자 또는 숫서 객체로 반복문을 처리할때 사용함수 
- 리스트, 튜플, 셋. 딕셔너리를 for 문에 사용시

In [36]:
names = {'재민' , '수현' , '성현'}
for name in names: 
    print(name, end='\t')

수현	성현	재민

In [37]:
for no, name in enumerate(names):
    print(f"{no}.{name}")

0.수현
1.성현
2.재민

In [48]:
names = ['재민' , '수현' , '성현']
tels = ['9','8','7']
adds = ['서울' ,'부산', '목포']
for idx in range(len(names)):
    print("{}.{}. {}는 {}살아요.".format(idx+1,names[idx],tels[idx],adds[idx]))

1.재민. 9는 서울살아요.
2.수현. 8는 부산살아요.
3.성현. 7는 목포살아요.

In [52]:
list(zip(names, tels, adds))

[('재민', '9', '서울'), ('수현', '8', '부산'), ('성현', '7', '목포')]

In [51]:
list(enumerate(zip(names, tels, adds)))

[(0, ('재민', '9', '서울')), (1, ('수현', '8', '부산')), (2, ('성현', '7', '목포'))]

In [61]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print("{}. {} : {} - {}".format(idx+1,
                                   name,
                                   tel,
                                   add))

1. 재민 : 9 - 서울
2. 수현 : 8 - 부산
3. 성현 : 7 - 목포

## 연습문제

## 서술형

In [57]:
#연습문제 서숧형
L1 = ("orange", "apple", "banana","kiwi ")
new_list = [i for i in L1 if len(i)>5]
print(new_list)

['orange', 'banana']

In [58]:
#2. 다음 코드와 실행결과과 잘못 짝지어진것은? 2번, 4번

In [62]:
numbers_2d = [[1,2,3,4,5], [10,20,30,40],[1,3,5],[2,]]
len(numbers_2d[3])

1

In [63]:
#4 update

In [64]:
numbers = list(range(10))
numbers[::2]=[0] * len(numbers[::2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [65]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2]= numbers[5:]
print(numbers)

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [66]:
#8번 정답: 3번

In [67]:
fruits = ['apple', 'banana','orange']
x,y,z = fruits 
print(x) 
print(y)
print(z)

apple
banana
orange

In [68]:
fruits = ['apple', 'banana','orange']
print(len(fruits))

3

In [69]:
# 11 번 정답 : def 함수

## 실습형

In [78]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [83]:
numbers = [1,2,3,4,5,6,7,8,9,10]
data = [200,300,400,500]
numbers.extend(data)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 200, 300, 400, 500]

In [84]:
print(numbers[:5:])

[1, 2, 3, 4, 5]

In [97]:
print(numbers[0::2])

[1, 3, 5, 7, 9]

In [94]:
numbers[::2] = [0,0,0,0,0]
print(numbers)
numbers

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [96]:
numbers = [1,2,3,4,5,6,7,8,9,10]